@{
    ViewData["Title"] = "Event Creation";
}

<body>

    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="EventCreation" asp-action="CreateEvent">
            <table>
                <tr>
                    <td>
                        <div>
                            Event Name:
                        </div>
                        <input type="text" name="name" maxlength="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Event Description:
                        </div>
                        <input type="text" name="description" size="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Flyer Upload:
                        </div>
                        <input  type="file" name="flyer" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
